<div class="wrapper d-flex flex-column justify-content-center mt-4">
            <div class="pic m-md-2 align-self-center ">
                <img src="assets/images/profile-img.jpeg" alt="profile-picure" class="img-fluid">
            </div>
            <div class="name align-self-center">Mojgan Sharifian</div>
            <div class="skill align-self-center ">FrontEnd Developer</div>
            <div class="about align-self-start mt-md-3">ABOUT</div>
            <div class="description align-self-start ">
                Front-end programmer with about <strong> 3</strong> years of experience, 
                 mastery of the <strong>Angular</strong> framework and its Concepts
                  ,<strong> Rxjs</strong>, and <strong>RESTful API</strong>.
                Mastery of working with <strong> Git</strong> commands, ability to work with 
                <strong>Trello</strong> task and time management software 
                
            </div>
            <div class="socialNetwork d-flex flex-row mt-3 align-self-start ">
               
                    <a href="#" ><i class="fab fa-github mx-1"></i></a>
                    <a href="#"><i class="fab fa-instagram mx-1"></i></a>
                    <a href="#"><i class="fab fa-telegram mx-1"></i></a>
                    <a href="#"><i class="fab fa-linkedin mx-1"></i></a>
                   
            </div>
        </div>
        
 