
.wrapper {
    direction: ltr;
    padding-top: 30px;
}

.skill_items{
    color: #000000;
     margin: 5px;
    padding: 5px;
    border: 2px solid var(--gray);
   border-radius: 5px;
   font-size: 14px;
   font-weight: 500;
}
.skill_items:hover{
    background-color:var(--white);
   color: #000000;
   font-weight: 700;
}
