<header class="p-0">
  <div class="container-fluid  container-xl">
    <nav  class=" navbar p-0">
   <ul>
     <!-- <li><a class="nav-link scrollto " [routerLink]="['/welcome']" 
      routerLinkActive="active" 
      [routerLinkActiveOptions]="{ exact : true}">خانه/درباره من
    </a></li> -->
     <li><a class="nav-link scrollto " [routerLink]="['/products']" 
       routerLinkActive="active"
       [routerLinkActiveOptions]="{ exact : true}"
      >نمایش محصولات
    </a></li>
     <li><a class="nav-link scrollto " [routerLink]="['/products/products2']" 
      routerLinkActive="active" >دسته بندی محصولات
     </a></li>
     <li><a class="nav-link scrollto " [routerLink]="['/AboutUs']" 
      routerLinkActive="active" >  دربار من
     </a></li>
   </ul>
   </nav>
  </div>
</header>
<router-outlet></router-outlet>