<header>
  <div class="container-fluid  container-xl">
    <nav id="navbar" class=" navbar p-0">
   <ul>
     <li><a class="nav-link scrollto " [routerLink]="['/welcome']" 
      routerLinkActive="active" 
      [routerLinkActiveOptions]="{ exact : true}">خانه
    </a></li>
     <li><a class="nav-link scrollto " [routerLink]="['/products']" 
       routerLinkActive="active"
       [routerLinkActiveOptions]="{ exact : true}"
      >لیست محصولات
    </a></li>
     <li><a class="nav-link scrollto " [routerLink]="['/products/products2']" 
      routerLinkActive="active" >جزییات محصولات
     </a></li>
     
   </ul>
   </nav>
  </div>
</header>
<router-outlet></router-outlet>