
header{
    background-color: var(--pink);
    
}
.navbar {
    padding: 0;
  }
  .navbar ul {
    margin: 0;
    padding: 15px;
    display: flex;
    list-style: none;
    align-items: center;
  }

  .nav-link {
    cursor: pointer;
    color: var(--light-gray);
    text-decoration: none;
    padding-bottom: 8px;
  }
  
  .nav-link.active {
    color:var(--light-gray);
    
    border-radius: 8px;
      border-right:1px solid var(--white);
    border-left:1px solid var(--white); 
    // border-bottom:1px solid var(--white);
    // border-top:1px solid var(--white); 
  
  }
 li{
   font-weight: 500;
 }
 