<section>
    <div class="d-flex flex-column ">
        <div class="row g-0 d-flex flex-row justify-content-start pt-md-4 pt-2">
            <div class="col-4 pic">
                <img src="assets/images/profile-img.jpeg" alt="profile-picure" class="img-fluid">
            </div>
            <div class="col-8 pt-4 ">
                <div class="name align-self-center">Mojgan Sharifian</div>
            <div class="skill align-self-center ">FrontEnd Developer</div>
            </div>
        </div> 
            <div class="row pt-md-4 pt-3">
                <div class="col contact">CONTACT</div>
            </div>
            <div class="row  pt-md-3 pt-2">
              <div class="row information py-md-3 py-2">
                <div class="col-2 text-center"><i class="fas fa-map-marker-alt"></i></div>
                <div class="col-10">Tehran</div>
              </div>
            <div class="row information py-md-3 py-2">   
                 <div class="col-2 text-center"><i class="fas fa-phone"></i></div>
            <div class="col-10 phone">(+98) 0902 511 2352</div>
        </div>
              <div class="row information  py-md-3 py-2">
                <div class="col-2 text-center"><i class="fas fa-envelope"></i></div>
                <div class="col-10 ">Mzh.sharifian@gmail.com</div>
              </div>
            </div>
            <div class="row w-75 pt-4 pt-md-3 align-self-center work">
                <a   class=" btn  btn-outline-dark">Work With Me</a>
            </div>
        </div>
  
</section>