<section> 
    <div class="container-fluid ">
        <div class="card dir-rtl"  *ngIf=" productList$ | async as products" >
            <div class="card-header p-3">
             لیست محصولات
            </div>
            
          
            <button type='button'
            class='list-group-item'
            *ngFor='let product of products'
            [ngClass]="{active: product?.id === (selectedProduct$|async)?.id}"
            (click)='onselected(product.id)'>
      {{ product.productName }} ({{ product.category }})
    </button>
          </div>
    </div>
</section>