/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.rtl.min.css";
@font-face {
    font-family: shabnam;
    src: url('assets/fonts/shabnam-font-v2.4.0/Shabnam.eot');
    src: url('assets/fonts/shabnam-font-v2.4.0/Shabnam.eot?#iefix') format('assets/fonts/shabnam-font-v2.4.0/Shabnam-opentype'), url('assets/fonts/shabnam-font-v2.4.0/Shabnam.woff') format('woff'), url('assets/fonts/shabnam-font-v2.4.0/Shabnam.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: sahel;
    src: url('assets/fonts/sahel-font-v1.0.0-alpha14/Sahel.eot');
    src: url('assets/fonts/sahel-font-v1.0.0-alpha14/Sahel.eot?#iefix') format('assets/fonts/sahel-font-v1.0.0-alpha14/Sahel-opentype'), url('assets/fonts/sahel-font-v1.0.0-alpha14/Sahel.woff') format('woff'), url('assets/fonts/sahel-font-v1.0.0-alpha14/Sahel.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  