<div class=" container-fluid">
  <div class="card  m-4 w-md-75 mx-auto ">
    <div class="card-header p-3 fw-bold">
      محصولات
    </div>

    <div class="container">
      <select class="form-select w-50 my-5" (change)="onSelected($any($event.target).value)">
        <option  value="0">- نمایش همه -</option>
        <option [value]="cat.id" *ngFor="let cat of  productCtegory$|async ">{{cat.name}}</option>
      </select>
     
      <table class="table table-responsive table-striped mt-2" *ngIf="productList$ | async as products">
        <thead>
          <tr class="p-4">
            <th  class="p-3">نام </th>
            <th class="p-3">کد </th>
            <th class="p-3">گروه </th>
            <th class="p-3">قیمت</th>
            <th class="p-3">موجودی در انبار</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of products">

            <td class="p-3">{{ product.productName }}</td>
            <td class="p-3">{{ product.productCode }}</td>
            <td class="p-3">{{ product.category }}</td>
            <td class="p-3">{{ product.price }}{{"ریال"}}</td>
            <td class="p-3 text-center">{{ product.quantityInStock }}</td>
          </tr>

        </tbody>
      </table>

    </div>
  </div>
</div>