<div class=" container-fluid">
  <div class="card m-4 w-75 mx-auto">
    <div class="card-header">
      محصولات
    </div>

    <div class="container">
      <select class="form-select w-25 my-5" (change)="onSelected($any($event.target).value)">
        <option  value="0">- نمایش همه -</option>
        <option [value]="cat.id" *ngFor="let cat of  productCtegory$|async ">{{cat.name}}</option>
      </select>
      <hr>
      <table class="table mt-5" *ngIf="productList$ | async as products">
        <thead>
          <tr class="p-4">
            <th>Product</th>
            <th>Code</th>
            <th>Category</th>
            <th>Price</th>
            <th>In Stock</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of products">

            <td class="p-3">{{ product.productName }}</td>
            <td class="p-3">{{ product.productCode }}</td>
            <td class="p-3">{{ product.category }}</td>
            <td class="p-3">{{ product.price | currency:"USD":"symbol":"1.2-2" }}</td>
            <td class="p-3">{{ product.quantityInStock }}</td>
          </tr>

        </tbody>
      </table>

    </div>
  </div>
</div>